.title { 
    color: #000000; 
    font-family: 'Raleway',
    sans-serif; 
    font-size: 62px; 
    font-weight: 800; 
    line-height: 72px; 
    margin: 0 0 24px; 
    text-align: center
}


.content {
    height: 90%;
    background-color: rgb(174, 208, 238);
    overflow-y: hidden;
}


.sidenav {
    width: 12%;
    background-color: rgb(131, 192, 207);
}