.footer {
    position: absolute;
    bottom: 0;
    background-color: rgb(137, 216, 190);
    width:100%;
    margin-bottom: 0%;
}

button[type=submit] {
    font-size: 30px;
    background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
    border: 1px solid #e5a900;
    color: #4E4D4B;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    width: 30%;
}

button[type=submit]:hover {
    background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}


html {
    background-color: aqua;
    color: aqua;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10%;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(182, 58, 58); 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}