.mat-step {
  position: relative;
}

#parentDiv {
  min-height: 80vh;
}
#childDiv {
    position: absolute;
    left: 30%;
    padding: 5px;
    top: 23%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.payload {
  background-color: rgb(216, 224, 224);
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 120%;
}

.mat-form-field {
  width: 25% !important;
  font-size: large;
}

button[type=add] {
  font-size: 200%;
  font-size-adjust: initial;
  width: fit-content + 5%;
  background: linear-gradient(#71f066 5%, #90fcb9 100%);
  border: 3px solid #0a0a0a;
  color: #4E4D4B;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  outline: none;
  margin-right: 0.6%;
}

button[type=next] {
  padding: 50%;
  font-size: 200%;
  font-size-adjust: initial;
  width: fit-content + 5%;
  background: linear-gradient(#edf856 5%, #f5fc90 100%);
  border: 3px solid #0a0a0a;
  color: #4E4D4B;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 24px;
  text-align: center;
  outline: none;
  margin-right: 0.6%;
}


button[type=delete] {
  padding: 50%;
  font-size: 200%;
  font-size-adjust: initial;
  width: fit-content + 5%;
  background: linear-gradient(#f54a4a 5%, #fc9390 100%);
  border: 3px solid #0a0a0a;
  color: #4E4D4B;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  outline: none;
  margin-right: 0.6%;
}

button[type=back] {
  padding: 50%;
  font-size: 200%;
  font-size-adjust: initial;
  width: fit-content + 5%;
  background: linear-gradient(#9fa08c 5%, #d7d8ca 100%);
  border: 3px solid #0a0a0a;
  color: #4E4D4B;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  outline: none;
  margin-right: 0.6%;
}

button[type=send] {
  padding: 50%;
  font-size: 200%;
  font-size-adjust: initial;
  width: fit-content + 5%;
  background: linear-gradient(#f5cc14 5%, #f3c136 100%);
  border: 3px solid #0a0a0a;
  color: #4E4D4B;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  outline: none;
  margin-right: 0.6%;
}
