<mat-horizontal-stepper #stepper id="parentDiv">
    <mat-step [stepControl]="sensorMetadata_FormGroup">
        <form [formGroup]="sensorMetadata_FormGroup" #sensorMetadata>
            <ng-template matStepLabel>Sensor metadata</ng-template>
            <div>
                <mat-form-field >
                    <mat-label>Short name</mat-label>
                    <input matInput type="text" formControlName="shortName" placeholder="Without spaces" required (click)="add_sensorMetadata()">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Long name</mat-label>
                    <input matInput type="text" formControlName="longName" required (click)="add_sensorMetadata()">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Model</mat-label>
                    <input matInput type="text" formControlName="model" required (click)="add_sensorMetadata()">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Serial number</mat-label>
                    <input matInput type="string" formControlName="serialNumber" required (click)="add_sensorMetadata()">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Manufacturer</mat-label>
                    <input matInput type="text" formControlName="manufacturer" required (click)="add_sensorMetadata()">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Instrument type</mat-label>
                    <input matInput type="text" formControlName="instrumentType" (click)="add_sensorMetadata()">
                </mat-form-field>
            </div>
            <div>
                <button type="next" mat-button matStepperNext (click)="add_sensorMetadata()">Next</button>
            </div>
            <!-- <div id="childDiv">
                <h2>Sensor metadata payload:</h2>
                <div>
                    <mat-list role="list">
                        <mat-list-item role="listitem">Short name: {{payload.sensorMetadata.shortName | json}}</mat-list-item>
                        <mat-list-item role="listitem">Long name: {{payload.sensorMetadata.longName | json}}</mat-list-item>
                        <mat-list-item role="listitem">Model: {{payload.sensorMetadata.model | json}}</mat-list-item>
                        <mat-list-item role="listitem">Serial number: {{payload.sensorMetadata.serialNumber | json}}</mat-list-item>
                        <mat-list-item role="listitem">Manufacturer: {{payload.sensorMetadata.manufacturer | json}}</mat-list-item>
                        <mat-list-item role="listitem">Instrument type: {{payload.sensorMetadata.instrumentType | json}}</mat-list-item>
                      </mat-list>
                </div>
            </div> -->

        </form>
    </mat-step>

    <mat-step [stepControl]="observableProperties_FormGroup" [stepControl]="hiddenForm">
        <form [formGroup]="observableProperties_FormGroup" #observableProperties>
            <ng-template matStepLabel>Observable properties</ng-template>
            <div>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="name" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Label</mat-label>
                    <input matInput type="text" formControlName="label" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Definition</mat-label>
                    <input matInput type="text" formControlName="definition" required>
                </mat-form-field>
            </div>

            <form [formGroup]="units_FormGroup" #units>
                <ng-template matStepLabel>Units</ng-template>
                <div>
                    <mat-form-field>
                        <mat-label>Units code</mat-label>
                        <input matInput type="text" formControlName="code" required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Units href</mat-label>
                        <input matInput type="url" formControlName="href" required>
                    </mat-form-field>
                </div>
            </form>
            <div>
                <button type="back" mat-button matStepperPrevious>Back</button>
                <app-button [buttonSettings]="settings[2]" (click)="add_observableProperty(); observableProperties.reset(); units.reset()"></app-button>
                <app-button [buttonSettings]="settings[1]" (click)="delete_observableProperty()"></app-button>
                <button type="next" mat-button matStepperNext>Next</button>
            </div>
            <div id="childDiv">
                <h2>Observable properties payload:</h2>
                <div class="payload">
                    <pre class="payload">{{payload.observableProperties | json}}</pre>
                </div>
            </div>
            
        </form>
    </mat-step>

    <mat-step [stepControl]="contacts_FormGroup">
        <form [formGroup]="contacts_FormGroup">
            <ng-template matStepLabel>Contacts</ng-template>

            <form [formGroup]="principalInvestigator_FormGroup" #investigator>

                <div>
                    <p>Principal investigator</p>
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput type="text" formControlName="name" required (click)="add_contacts()">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>mail</mat-label>
                        <input matInput type="email" formControlName="mail" required (click)="add_contacts()">
                    </mat-form-field>
                </div>
            </form>
            <br>
            <form [formGroup]="operator_FormGroup" #operator>

                <div>
                    <p>Operator</p>
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput type="text" formControlName="name" required (click)="add_contacts()">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>mail</mat-label>
                        <input matInput type="email" formControlName="mail" required (click)="add_contacts()">
                    </mat-form-field>
                </div>
            </form>
            <br>
            <form [formGroup]="owner_FormGroup" #owner>
                <div>
                    <p>Owner</p>
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput type="text" formControlName="name" required (click)="add_contacts()">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>EDMO Code</mat-label>
                        <input matInput type="number" formControlName="EDMO_Code" required (click)="add_contacts()">
                    </mat-form-field>
                </div>
            </form>

            <div>
                <button type="back" mat-button matStepperPrevious>Back</button>
                <button type="next" mat-button matStepperNext (click)="add_contacts()">Next</button>
            </div>
            <div id="childDiv">
                <h2>Contacts payload:</h2>
                <div class="payload">
                    <pre class="payload">{{payload.contacts | json}}</pre>
                </div>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="station_FormGroup">
        <form [formGroup]="station_FormGroup" #station>
            <ng-template matStepLabel>Deployment</ng-template>
            <div>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="name" required (click)="add_deployment()">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>ID</mat-label>
                    <input matInput type="text" formControlName="id" required (click)="add_deployment()">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Latitude</mat-label>
                    <input matInput type="number" formControlName="latitude" required (click)="add_deployment()">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Longitude</mat-label>
                    <input matInput type="number" formControlName="longitude" required (click)="add_deployment()">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Depth</mat-label>
                    <input matInput type="number" formControlName="depth" required (click)="add_deployment()">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Deployment date</mat-label>
                    <input matInput type="date" formControlName="deploymentDate" required (click)="add_deployment()">
                </mat-form-field>
            </div>
            <div>
                <button type="back" mat-button matStepperPrevious>Back</button>
                <button type="next" mat-button matStepperNext (click)="add_deployment()">Next</button>
            </div>
            <div id="childDiv">
                <h2>Deployment payload:</h2>
                <div class="payload">
                    <pre class="payload">{{payload.deployment | json}}</pre>
                </div>
            </div>
        </form>
    </mat-step>


    <mat-step>
        <ng-template matStepLabel>Final</ng-template>

        <div id="buttons">
            <button type="back" mat-button matStepperPrevious>Back</button>
            <app-button [buttonSettings]="settings[0]" (click)="stepper.reset(); reset(); not_show()"></app-button>
            <app-button [buttonSettings]="settings[3]" (click)="show()"></app-button>
            <app-button [buttonSettings]="settings[4]" (click)="download()"></app-button>
            <app-button [buttonSettings]="settings[5]" (click)="send()"></app-button>
        </div>

        <div *ngIf="show_payload">
            <textarea style="width:1000px;height:700px" id="display">{{payload | json}}</textarea>
        </div>
    </mat-step>
</mat-horizontal-stepper>

