/* button[type=submit] {
    font-size: 30px;
    background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
    border: 1px solid #e5a900;
    color: #4E4D4B;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    width: 30%;
}

button[type=submit]:hover {
    background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}

form {
    text-align: left;
    margin-left:auto; 
    margin-right:auto;
    padding: 40px 0;
}

div {
    padding: 10px;
}

.title { 
    color: #000000; 
    font-family: 'Raleway',
    sans-serif; 
    font-size: 62px; 
    font-weight: 800; 
    line-height: 72px; 
    margin: 0 0 24px; 
    text-align: center
}


img {
    width: 3%;
    height: 3%;
}



#childDiv {
    position: absolute;
    left: 50%;
    padding: 5px;
    margin-top: -414px;
    margin-left: -120px;
}

.options-form {
    position: relative;
    margin-left: 10%;
} */

.title { 
    color: #000000; 
    font-family: 'Raleway',
    sans-serif; 
    font-size: 62px; 
    font-weight: 800; 
    line-height: 72px; 
    margin: 0 0 24px; 
    text-align: center
}

mat-toolbar.pre_click {
    overflow: hidden;
      margin-left: 10%;
      margin-right: 10%;
      width: 80%;
      min-width: 475px;
      padding: 10px 20px 10px 10px;
      font-size: 200%;
      background: rgb(94, 96, 99);
      text-align: center;
      align-content: center;
      align-items: center;
}


mat-toolbar {
    overflow: hidden;
      width: 100%;
      min-width: 475px;
      padding: 10px 20px 10px 10px;
      font-size: 200%;
      background: rgb(94, 96, 99);
      text-align: center;
      align-content: center;
      align-items: center;
}
  
.infoSection {
    widows: 100%;
    text-align: center;
    align-items: center;
}



button {
    color: white;
    width: 10%;
    height: fit-content;
    font-size: 100%;
}

#home {
    width: 10%;
}
