<mat-tab-group class="config_tab">
    <mat-tab label="Sensor"><app-sensor></app-sensor></mat-tab>
    <mat-tab label="Person">Nothing</mat-tab>
    <mat-tab label="Project">Nothing</mat-tab>
</mat-tab-group>
