.log-form {
    margin-left: 10%; 
    margin-top: 5%;
    position: relative;
}

#form-title {
    position: absolute;
    margin-top: -3%;
    margin-left: 7.5%;
    font-size: 300%;
    font-weight: bold;
}

#form-button {
    position: absolute;
    margin-left: 5%;
}

mat-form-field {
    padding: 10px;  
    width: 20%;
    font-size: 150%;
    font-size-adjust: initial;

}

#title { 
    color: #000000; 
    font-family: 'Raleway',
    sans-serif; 
    font-size: 62px; 
    font-weight: bolder; 
    line-height: 72px; 
    margin: 0 0 24px;
    margin-top: 1%;
    text-align: center
}

p { 
    color: #c94444; 
    font-family: 'Raleway',
    sans-serif; 
    font-size: 62px; 
    font-weight: 800; 
    line-height: 72px; 
    text-align: center;
    margin-top: 10%;
}

#childDiv {
    position: absolute;
    left: 30%;
    margin-top: -15%;
}