<ngb-carousel interval=2500 wrap=true>
    <ng-template *ngFor="let image of images" ngbSlide>
        <div class="image_">
            <img src="{{image.img}}" class="image_">
        </div>
        <div class="carousel-caption">
            <h3>{{ image.name }}</h3>
            <p>{{ image.desc }}</p>
        </div>
    </ng-template>
</ngb-carousel>